* {
    /* content box yazarsam içerideki içeriğin dışına doğru alır. border box yazarsam borderlardan içeri doğru alır */
    box-sizing: border-box;
}


.logo {
    color: black;
    font-family: "Baskerville";
    font-size: 4rem;
    position: absolute;
    display: block;
    font-weight: lighter;
    width: 90%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-align: center;
}
.ankara-logo {
  color: black;
  font-family: "Baskerville";
  font-size: 24px;
  position: absolute;
  display: block;
  font-weight: lighter;
  width: 50%;
  top: 15%;
  left: 63%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-align: center;
  /* overflow: hidden; */
}
#font {
    font-family: "Baskerville";
}
.contact-text {
    color: black;
    font-family: "Baskerville";
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%)
}
/* :root {
    font-size: 25px;
} */
/* rem boyutu ayarlamak için kullan */

body {
    margin: 0;
    padding: 0;
}

.title-box {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.main-page-content-box {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    /* height: 1000px; */
}

.logo-arka {
    display: inline-block; 
    position: relative;
    width: 100%;
    height: 960px;
    object-fit: cover;
    z-index: -1;
}

.logo-kapak-icerik {
    display: inline-block; 
    position: relative;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    z-index: -1;
}
.menuicon {
    width: 20px;
    height: 20px;
}

/* dropdown button */
.dropbtn {
    background-color: #5f564d;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 100%;
    z-index: 100;
}
/* The container div needed to position the dropdown content. */
.dropdown {
    z-index: 100;
    position: fixed;
    background-color: black;
    top: 3%;
    left: 0;
    display: inline-block;
}

/* dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-family: "Baskerville";
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 100;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color when hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown. */
.dropdown:hover .dropbtn {
    background-color: #443d37;
}


.contact-box {
    position: relative;
    display: block;
    width: 100%;
    /* height: 1000px; */
}
.contact-header {
    font-family: Baskerville;
    font-size: 2rem;
    position: relative;
    padding-top: 100px;
    display: block;
    text-align: center;
}
span {
    font-family: Baskerville;
}
.telephone-header {
    font-size: 2rem;
    position: relative;
    display: block;
    padding-top: 70px;
    padding-left: 15%;
}

.numara {
    display: block;
    position: relative;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 17%;
}
.email-header {
    font-size: 2rem;
    position: relative;
    display: block;
    padding-top: 40px;
    padding-left: 15%;

}
.email {
    font-size: 25px;
    display: block;
    position: relative;
    padding-top: 15px;
    padding-left: 17%;
}
.adress-header {
    font-size: 2rem;
    position: relative;
    display: block;
    padding-top: 40px;
    padding-left: 15%;

}
.adress {
    font-size: 25px;
    display: block;
    position: relative;
    padding-top: 15px;
    padding-left: 17%;
}
.social-header {
    font-size: 2rem;
    position: relative;
    display: block;
    padding-top: 70px;
    padding-left: 15%;
    padding-bottom: 30px ;
}
.google-maps-logo {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
}
.insta-logo {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
}
.google-location {
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
    top: 55%;
    left: 57%;
}
.lamine-header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    display: block;
}
.laminat-header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 50px;
}
.masif-header {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        display: block;
        margin-top: 50px;
}
.lamine-text {
    font-size: 32px;
    display: inline;
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 100px;
}
.laminat-text {
    /* position: absolute; */
    font-size: 32px;
    display: inline;
    /* top: 15%;
    left: 73%; */
    /* margin-left: 20px; */
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 100px;
    /* transform: translate(-50%, -50%); */
}
.masif-text {
    font-size: 32px;
    display: inline;
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 100px;
}
.text-wrapper {
    display: inline;
    position: relative;
    margin: 0 5px;
}
.text-wrapper {
    display: inline;
    position: relative;
    margin: 0 5px;
    
}
.lamine-img {
    border: solid black;
    border-radius: 50px;
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 45%;
    position: relative;
    display: inline;
    margin-top: 20px;
    margin-right: 60px;
    margin-bottom: 20px;
    /* left: 3%; */
    float: left;
}
.laminat-img {
    border: solid black;
    border-radius: 50px;
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 45%;
    position: relative;
    display: inline;
    margin: 50px 60px 20px 20px;
    /* left: 3%; */
    float: right;
}
.masif-img {
        border: solid black;
        border-radius: 50px;
        min-width: auto;
        max-width: 45%;
        max-height: 45%;
        position: relative;
        display: inline;
        margin: 50px 60px 20px 20px;
        /* left: 3%; */
        float: left;
}
.google-maps {
    width: 100%;
    height: 600px;
}
.tarihce-header {
    font-family: Baskerville;
    font-weight: lighter;
    font-size: 3rem;
    position: relative;
    margin-top: 50px;
    display: block;
    text-align: center;
}
.tarihce-paragraf {
    font-size: 32px;
    display: inline;
    /* max-height: 100px; */
    /* height: 100px; */
}
.tarihce-box {
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
    width: 70%;
}

.iletisim {
    background: url(./assets/images/footerbg.jpg);
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 20px 20px;
    width: 100%;
    border-bottom: 1px solid #5f564d;
}
.footer-box {
    background-color: #464037;
    margin: 0;
    padding: 0;
    height: 30px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.footer-text {
    color: white;
    margin-left: 10px;
    font-size: 12px;
}
.showroom-header {
    font-size: 2rem;
    color: white;
    text-align: center;
}
.showroom-p {
    color: white;
    text-align: center;
    font-size: 20px;
}
.showroom-bizi-arayın {
    text-align: center;
}
.arayın-button {
    height: 50px;
    font-size: 22px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10%;
}
.arayın-button:hover {
    background-color: #0c0702;
    color: white;
}
.adress-footer {
    /* background-color: #5f564d; */
    background: url(./assets/images/footerbg.jpg);
    display: inline;
    float: right;
    position: relative;
    margin: 0;
    padding: 20px 20px;
    width: 100%;
}
.showroom-p {
    color: white;
    text-align: center;
    font-size: 20px;
}
.text-decoration {
    text-decoration: none;
}



@media (max-width: 680px) {
    .logo{
        font-size: 2rem;
    }
    .ankara-logo {
        font-size: 14px;
        left: 73%;
        top: 14%;
    }
    .lamine-header {
        font-size: 1rem;
    }
    .laminat-header{
        font-size: 1rem;
        margin-top: 5px;
    }
    .masif-header {
        font-size: 1rem;
        margin-top: 5px;
}
    .lamine-text {
        font-size: 1rem;
    }
    .laminat-text{
        font-size: 1rem;
    }
    .masif-text {
        font-size: 1rem;
    }
    .tarihce-paragraf {
        font-size: 24px;
    }
    .lamine-img {
        float: none;
        width: 100%;
        display: block;
        min-width: none;
        min-height: none;
        max-width: none;
        max-height: none;
        margin: 0 auto;
        height: 300px;
        object-fit: cover;
    }
    .laminat-img{
        float: none;
        width: 100%;
        display: block;
        min-width: none;
        min-height: none;
        max-width: none;
        max-height: none;
        margin: 0 auto;
        height: 300px;
        object-fit: cover;
    }
    .masif-img {
        float: none;
        width: 100%;
        display: block;
        min-width: none;
        min-height: none;
        max-width: none;
        max-height: none;
        margin: 0 auto;
        height: 300px;
        object-fit: cover;
    }
    .lamine-text-wrapper {
        display: block;
        position: relative;
        width: 100%;
        padding: 0 25px;
        margin: 10px;
        box-sizing: border-box;
    }
    .laminat-text-wrapper{
        display: block;
        position: relative;
        width: 100%;
        padding: 0 25px;
        margin: 0;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    .logo-arka {
        height: 750px;
    }
    .contact-header {
        font-size: 2rem;
        padding-top: 20px;
    }
    .contact-text {
        font-size: 2rem;
    }
    .telephone-header{
        padding-top: 60px;
        padding-left: 8%;
    }
    .numara{
        padding-left: 10%;
    }
    .email-header {
        padding-left: 8%;
    }
    .email {
        padding-left: 10%;
    }
    .adress-header{
        padding-left: 8%;
    }
    .adress{
        padding-right: 10px;
        padding-left: 10%;
    }
    .social-header {
        padding-left: 8%;
    }
    .google-maps {
        width: 100%;
        height: 300px;
    }
    .tarihce-header {
        font-size: 1.5rem;
        padding-top: 20px;
    }
    .tarihce-box {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 70%;
    }
    .showroom-header {
        font-size: 1rem;
    }
    .showroom-p {
        font-size: 12px;
    }
    .arayın-button {
        height: 25px;
        width: 100px;
    }
    .iletisim {
        padding: 10px 10px;
    }
    .adress-footer {
        padding: 10px 10px;
    }
    .arayın-button {
        font-size: 12px;
    }
}


@media (max-width: 320px) {
    .lamine-img {
        height: 150px;
        object-fit: cover;
    }
    .laminat-img {
        height: 150px;
        object-fit: cover;
    }
    .logo {
        font-size: 1rem;
    }
    .ankara-logo {
        font-size: 8px;
        left: 70%;
        top: 19%;
    }
    .lamine-header {
        font-size: 10px;
    }
    .laminat-header {
        font-size: 10px;
    }
    .lamine-text {
        font-size: 8px;
    }
    .laminat-text {
        font-size: 8px;
    }
    .logo-arka {
        height: 250px;
    }
    .contact-header {
        font-size: 1rem;
    }
    .contact-text {
        font-size: 1rem;
    }
    .telephone-header { 
        font-size: 1rem;
    }
    .numara {
        font-size: 18px;
    } 
    .email-header{
        font-size: 1rem;
    }
    .email {
        font-size: 18px;
    }
    .adress-header{
        font-size: 1rem;
    }
    .adress {
        font-size: 18px;
    }
    .social-header {
        font-size: 1rem;
    }
    .tarihce-header {
        font-size: 1rem;
    }
    .tarihce-paragraf {
        font-size: 12px;
    }
    .footer-text {
        font-size: 8px;
    }
    .arayın-button {
        font-size: 10px;
    }
}