.logo {
    color: black;
    font-family: Baskerville;
    font-size: 6vw;
    position: absolute;
    display: block;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}
#font {
    font-family: Bakersville;
}
.contact-text {
    color: black;
    font-family: Baskerville;
    font-size: 3vw;
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%)
}
body {
    margin: 0;
    padding: 0;
}

.title-box {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.main-page-content-box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1000px;
}

.logo-arka {
    display: inline-block; 
    position: relative;
    width: 100%;
    max-height: 800px;
    z-index: -1;
}
.menuicon {
    width: 20px;
    height: 20px;
}

/* dropdown button */
.dropbtn {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 100%;
    z-index: 100;
}
/* The container div needed to position the dropdown content. */
.dropdown {
    z-index: 100;
    position: fixed;
    background-color: black;
    top: 5%;
    left: 0;
    display: inline-block;
}

/* dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-family: Baskerville;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 100;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color when hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown. */
.dropdown:hover .dropbtn {
    background-color: #7E8584;
}


.contact-box {
    position: relative;
    display: block;
    width: 100%;
    height: 1000px;
}
.contact-header {
    font-family: Baskerville;
    font-size: 6vw;
    position: absolute;
    display: block;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

}
span {
    font-family: Baskerville;
}
.telephone-header {
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 20%;
    left: 10%;
}

.numara {
    display: block;
    position: absolute;
    left: 11%;
    top: 25%;
    font-size: 25px;
}
.email-header {
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 35%;
    left: 10%;
}
.email {
    font-size: 25px;
    display: block;
    position: absolute;
    left: 11%;
    top: 40%;
}
.adress-header {
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 50%;
    left: 10%;
}
.adress {
    font-size: 25px;
    display: block;
    position: absolute;
    margin-right: 20px;
    left: 11%;
    top: 55%;
}
.social-header {
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 75%;
    left: 10%;
}
.insta-logo {
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.google-location {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    top: 55%;
    left: 57%;
}
.lamine-header {
    font-size: 3vw;
    position: absolute;
    font-weight: bold;
    display: inline-block;
    min-width: auto;
    min-height: auto;
    max-width: 50%;
    max-height: 50%;
    margin-left: 12px;
    top: 8%;
    left: 71%;
    transform: translate(-50%, -50%);
}
.lamine-text {
    position: absolute;
    font-size: 2vw;
    display: inline-block;
    padding: 0;
    top: 15%;
    left: 73%;
    margin-left: 12px;
    min-width: auto;
    min-height: auto;
    max-width: 55%;
    max-height: 100px;
    transform: translate(-50%, -50%);
    
}
.lamine-img {
    border: solid black;
    border-radius: 60px;
    min-width: auto;
    min-height: auto;
    max-width: 50%;
    max-height: 500%;
    position: absolute;
    display: inline-block;
    top: 8%;
    margin-left: 20px;
}